@model Activity
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>摇一摇抽红包</title>
    <link href="~/styles/mobile.css" rel="stylesheet" />
	<link href="~/styles/shaked.css" rel="stylesheet" />
    <script src="~/scripts/jQuery-2.1.4.min.js"></script>
    <script src="~/scripts/jquery.signalr-2.0.3.js"></script>
    <script src="~/signalr/hubs"></script>
    <style>
        #btnRedirect {
            margin: 0 auto;
            display: block;
            width: 220px;
            height: 50px;
            border-radius: 50px;
            text-align: center;
            color: #fed639;
            font-size: 18px;
            line-height: 50px;
            position: absolute;
            left: 50%;
            bottom: 100px;
            text-decoration: none;
            background: #dc201f;
            margin-left: -110px;
        }

    </style>

  @if (Model != null)
    {
        <style>
            body {
                background-image: url(/Home/Background/@Model.Id)!important;
            }
        </style>
    }
   
</head>
<body>
  @if (Model == null)
    {
        <img src="~/images/bottom.png" style="width: 100%; position: absolute; bottom: 0; left: 0" />
    }
    else
    {
        <a href="@Model.BottomUrl"><img src="/Home/Bottom/@Model.Id" style="width: 100%; position: absolute; bottom: 0; left: 0" /></a>
    }
	
    <div class="alpha" style="background: rgba(0,0,0,0.8); width: 100%; height: 100%; position:absolute; left: 0; top: 0"></div>
    <div class="pending" style="top:30%; position: absolute; bottom: 0; left: 0; z-index: 10">
        <a class="close-pending" href="javascript:;" style="position: absolute;"><img src="~/images/close-2.png" style="width: 40px; height: 40px;" /></a>
        <img src="~/images/pending.png" style="margin: 0 auto;width: 80%; display: block" />
    </div>
    <div class="retry" style="top:0; position: absolute; bottom: 0; left: 0; z-index: 10">
        <a class="close-pending" href="javascript:;"  onclick="finsh()" >
        <img src="~/images/undrawn.png" style="margin: 0 auto;width: 100%;" /></a>
    </div>
    <div class="ok" style="top:0; position: absolute; bottom: 0; left: 0; z-index: 10">
        <a class="close-pending" href="javascript:;" style="position: absolute;"><img src="~/images/close-1.png" style="width: 40px; height: 40px;" /></a>
        <img id="btnAward" src="~/images/drawn.png" style="margin: 0 auto;width: 100%;" />
        <a href="javascript:;" id="btnRedirect">打开红包</a>
</div>

    <script>
         $('.alpha').hide();
         $('.pending').hide();
         $('.ok').hide();
         $('.retry').hide();

        $('.close-pending').click(function () {
            $('.alpha').hide();
            $('.pending').hide();
            $('.retry').hide();
            $('.ok').hide();
            lock = false;
        });

        var hub = $.connection.briberyHub;
        $.connection.hub.start(null, function () {
            lock = false;
        });

        var lock = true;

        //先判断设备是否支持HTML5摇一摇功能
        if (window.DeviceMotionEvent) {
            //获取移动速度，得到device移动时相对之前某个时间的差值比
            window.addEventListener('devicemotion', deviceMotionHandler, false);
        } else {
            alert('您好，你目前所用的设备好像不支持重力感应哦！');
        }

        //设置临界值,这个值可根据自己的需求进行设定，默认就3000也差不多了
        var shakeThreshold = 3000;
        //设置最后更新时间，用于对比
        var lastUpdate = 0;
        //设置位置速率
        var curShakeX = curShakeY = curShakeZ = lastShakeX = lastShakeY = lastShakeZ = 0;

        function deviceMotionHandler(event) {

            //获得重力加速
            var acceleration = event.accelerationIncludingGravity;

            //获得当前时间戳
            var curTime = new Date().getTime();

            if ((curTime - lastUpdate) > 100) {

                //时间差
                var diffTime = curTime - lastUpdate;
                lastUpdate = curTime;


                //x轴加速度
                curShakeX = acceleration.x;
                //y轴加速度
                curShakeY = acceleration.y;
                //z轴加速度
                curShakeZ = acceleration.z;

                var speed = Math.abs(curShakeX + curShakeY + curShakeZ - lastShakeX - lastShakeY - lastShakeZ) / diffTime * 10000;

                if (speed > shakeThreshold) {
				    audioAutoPlay('musicBox');
				  
                    if (lock) return;
                    lock = true;
                    //TODO 相关方法，比如：
					
                    hub.server.shake()
                        .done(function (data) {
                            if (data == "NO") {
						setTimeout(function(){
                                $('.alpha').show();
                                $('.pending').show();},1300)
						
                            } else if (data == "RETRY") {
						setTimeout(function(){
                                $('.alpha').show();
                                $('.retry').show();},1300);  clearTimeout(shakeTimeout);
                            } else {
						setTimeout(function(){
                                $('#btnRedirect').attr('href', 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=@WechatBribery.Startup.Config["WeChat:AppId"]&redirect_uri=@Context.Request.Scheme://@Context.Request.Host/WeChatApi/ExchangeCode/' + data + '&response_type=code&scope=snsapi_userinfo');
                                $('.alpha').show();
                                $('.ok').show();},1300);  clearTimeout(shakeTimeout);
                            }
                        });
                  
                

                lastShakeX = curShakeX;
                lastShakeY = curShakeY;
                lastShakeZ = curShakeZ;
            }
        }
}
var flag=true;

function audioAutoPlay(musicBox){
   if(flag){
  
   $('.shake_box').addClass('shake_box_focus');
	clearTimeout(shakeTimeout);
   var shakeTimeout = setTimeout(function(){
	$('.shake_box').removeClass('shake_box_focus');					
		},1300);
		
   var audio = document.getElementById("musicBox"),
        play = function(){
        audio.play();
    };
    audio.play();
    document.addEventListener("WeixinJSBridgeReady", function () {//微信
       play();
    }, false);	
	 flag=false;
   }

  return false;
  
}
function finsh(){self.location.reload();}

</script>
<audio style="display:none;" id="musicBox" preload="metadata"  controls  
 src="~/sounds/shake_sound.mp3">  
 </audio>
 <div class="shake_box" >
   <div class="shakTop"></div>
   <div class="shakBottom"></div>
 </div>
	
	
</body>
</html>