@{ 
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>摇一摇抽红包</title>
    <script src="~/scripts/jQuery-2.1.4.min.js"></script>
    <script src="~/scripts/jquery.signalr-2.0.3.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <p style="text-align:center"><img style="width: 70%; margin-top: 50px" src="~/images/cry.jpg" /></p>
    <p style="text-align:center">今天您已经抢到@(WechatBribery.Startup.Config["MaxPerDay"])个红包了，把好运留给别人吧！</p>
</body>
</html>