@{ 
    ViewBag.Title = "后台首页";
}

<h2>@ViewBag.Title</h2>

<table class="table detail-table">
    <tr>
        <td class="row-title">运行时</td>
        <td>.NET Core CLR 1.0.0</td>
    </tr>
    <tr>
        <td class="row-title">数据库</td>
        <td>SQLite v3</td>
    </tr>
    <tr>
        <td class="row-title">操作系统</td>
        <td>@System.Platform.OS.ToString()</td>
    </tr>
</table>