@{ 
    ViewBag.Title = "后台首页";
}

<h2>@ViewBag.Title</h2>

<table class="table detail-table">
    <tr>
        <td class="row-title">运行时</td>
        <td>.NET Core CLR 1.0.0</td>
    </tr>
    <tr>
        <td class="row-title">数据库</td>
        <td>MySQL 5.6</td>
    </tr>
    <tr>
        <td class="row-title">操作系统</td>
        <td>@System.Platform.OS.ToString()</td>
    </tr>
    <tr>
        <td class="row-title">微信链接</td>
        <td><a href="@Context.Request.Scheme://@Context.Request.Host/WeChat/Index/@User.Current.UserName">@Context.Request.Scheme://@Context.Request.Host/WeChat/Index/@User.Current.UserName</a></td>
    </tr>
    <tr>
        <td class="row-title">我的余额</td>
        <td>￥@((User.Current.Balance).ToString("0.00"))</td>
    </tr>
</table>