@{ 
    ViewBag.Title = "修改密码";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Password" asp-controller="Account" method="post">
    <table class="table table-bordered detail-table">
        <tr>
            <td class="row-title">旧密码</td>
            <td><input type="password" name="old" class="form-control" /></td>
        </tr>
        <tr>
            <td class="row-title">新密码</td>
            <td><input type="password" name="new" class="form-control" /></td>
        </tr>
        <tr>
            <td class="row-title">密码重复</td>
            <td><input type="password" name="confirm" class="form-control" /></td>
        </tr>
    </table>
    <input type="submit" value="修改密码" class="btn btn-primary" />
</form>